@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');


body {
    background-color: #e1d09c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "STIX Two Text", serif;
}

/* Cabeçalho */

.navbar {
    background-color: #822525;
    padding-right: 15px;
    padding-left: 15px;
    

}

.navdiv {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.navdiv li {
    list-style: none;
    display: inline-block;

}

.navdiv li a {
    color: #e1d09c;
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 50px;
    text-decoration: none;
}

.navdiv li a:hover {
    color: white;
    
}

/* Corpo página */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info {
    flex: 1;
    padding: 20px;
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contact-info ul li img {
    margin-right: 15px;
}

.contact-info ul li span {
    font-size: 1.1em;
}

.contact-info a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    color: #822525;
}

.map-container {
    flex: 1;
    padding: 20px;
}

/* Rodapé */

footer {
    background-color: #822525;
    margin-top: auto;

}

.footerContainer {
    width: 100%;
    padding: 20px 30px 20px;

}

.fotterLogo {
    display: flex;
    justify-content: center;
}

.footerBottom {
    font-size: 20px;
    color: #e1d09c;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}